<h1><%= t("title.app") %></h1>
<p><%= t("views.user_mailer.account_activation.greeting", username: @user.name) %></p>
<p><%= t("views.user_mailer.account_activation.body") %></p>
<%= link_to t("views.user_mailer.account_activation.activate"), edit_account_activation_url(id: @user.activation_token, email: @user.email) %>
