$white-color: #fff;
$gray-light: #777;
$gray-medium-light: #eaeaea;
$gray-darker: #222;
$red-color:#FF0000;
$border-color: #bbb;
$border-color-2: #e8e8e8;
$gray-light-2: #afafaf;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
